@using WebApplication2.Models.RequestModel
@{ 
    List<SidebarModel> sidebars = (List<SidebarModel>)Session["sidebar"];
}
<div class="sidebar" data-background-color="primary" data-active-color="secondary">

    <!--
        Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
        Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
    -->

    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="~/dashboard" style="color:#212121" class="simple-text">
                ALEtaobao
            </a>
        </div>

        <ul class="nav">
            @foreach (var sidebar in sidebars)
            {
                if (ViewBag.currentAction != null && ViewBag.currentAction.ToString() == sidebar.actionName)
                {
                    @:<li class='active'>
                }
                else
                {
                    @:<li>
                }
                @:<a href="@sidebar.url"><i class="@sidebar.icon"></i><p>@sidebar.name</p></a></li>
            }
        </ul>
    </div>
</div>
