<div class="sidebar" data-background-color="primary" data-active-color="secondary">

    <!--
        Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
        Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
    -->

    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="./admin" style="color:#212121" class="simple-text">
                ALEtaobao
            </a>
        </div>

        <ul class="nav">
            <li>
                <a href="user.html">
                    <i class="ti-user"></i>
                    <p>Người dùng</p>
                </a>
            </li>
            <li class="active">
                <a href="dashboard.html">
                    <i class="ti-package"></i>
                    <p>Sản phẩm</p>
                </a>
            </li>
            <li>
                <a href="table.html">
                    <i class="ti-receipt"></i>
                    <p>Hóa đơn</p>
                </a>
            </li>
            <li>
                <a href="typography.html">
                    <i class="ti-stats-up"></i>
                    <p>Thống kê</p>
                </a>
            </li>
            <li>
                <a href="typography.html">
                    <i class="ti-id-badge"></i>
                    <p>Thông tin tài khoản</p>
                </a>
            </li>
            <li class="active-pro">
                <a href="typography.html">
                    <i class="ti-shift-right"></i>
                    <p>Đăng xuất</p>
                </a>
            </li>
        </ul>
    </div>
</div>
