<div id="content" data-ng-controller="CartController">
    <div class="container">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li>
                    <a href="/">Trang chủ</a>
                </li>
                <li>Giỏ hàng</li>
            </ul>
        </div>

        <div class="col-md-9" id="basket">

            <div class="box">

                <form method="post" action="checkout1.html">

                    <h1>Giỏ hàng</h1>
                    <p class="text-muted">Hiện tại bạn có {{selectedProductsLength}} sản phẩm trong giỏ hàng.</p>
                    <div class="table-responsive" style="display:none">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th colspan="2">Sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Đơn giá</th>
                                    <th>Giá giảm</th>
                                    <th colspan="2">Tổng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="product in products">
                                    <td>
                                        <a href="#">
                                            <img src="Assets/img/detailsquare.jpg" alt="White Blouse Armani">
                                        </a>
                                    </td>
                                    <td>
                                        <p style="margin-bottom : 5px"><a>{{product.name}}</a></p>
                                        <p style="margin-bottom : 5px">Còn lại: {{product.attributes[1].value}}</p>
                                    </td>
                                    <td>
                                        <input style="width : 60px;" name="amount" type="number" min="0" max="{{product.attributes[1].value}}" ng-model="product.amount" ng-change="amountChange(product)" ng-click="amountChange(product)" class="form-control amount">
                                    </td>
                                    <td>{{product.attributes[0].value}}</td>
                                    <td>{{product.attributes[2].value}}</td>
                                    <td>{{product.productTotal}}</td>
                                    <td>
                                        <span class="btn" ng-click="removeSelectedProduct(product.id)"><i class="fa fa-trash-o"></i></span>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="5">Tổng tiền</th>
                                    <th colspan="2"><span>{{totalInvoice}} Đồng</span></th>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                    <!-- /.table-responsive -->
                    <span id="errors" class="text-right"></span>
                    <div class="box-footer">
                        <div class="pull-left">
                            <a href="/" class="btn btn-default"><i class="fa fa-chevron-left"></i> Tiếp tục mua hàng</a>
                        </div>
                        <div class="pull-right">
                            <a ng-click="checkOut()" class="btn btn-primary">
                                Thanh toán <i class="fa fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>

                </form>

            </div>
            <!-- /.box -->
            </div>
        <!-- /.col-md-9 -->

        <div class="col-md-3">
            <div class="box" id="order-summary">
                <div class="box-header">
                    <h3>Order summary</h3>
                </div>
                <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>

                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Order subtotal</td>
                                <th>$446.00</th>
                            </tr>
                            <tr>
                                <td>Shipping and handling</td>
                                <th>$10.00</th>
                            </tr>
                            <tr>
                                <td>Tax</td>
                                <th>$0.00</th>
                            </tr>
                            <tr class="total">
                                <td>Total</td>
                                <th>$456.00</th>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
        <!-- /.col-md-3 -->

    </div>
    <!-- /.container -->
</div>
<!-- /#content -->