<div id="content" data-ng-controller="IndexController">
    <div class="container">
        <div class="col-md-12">
            <div id="main-slider">
                <div class="item">
                    <img src="./Assets/IMG/index-img.jpg" alt="" class="img-responsive">
                </div>
                <div class="item">
                    <img class="img-responsive" src="./Assets/IMG/406945_1280.jpg" alt="">
                </div>
                <div class="item">
                    <img class="img-responsive" src="./Assets/IMG/2200_blackwidow-x-chroma.jpg" alt="">
                </div>
            </div>
            <!-- /#main-slider -->
        </div>
    </div>
    <!-- *** HOT PRODUCT SLIDESHOW ***
    _________________________________________________________ -->
    <div id="hot">

        <div class="box">
            <div class="container">
                <div class="col-md-12">
                    <h2>Hot trong tuần</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <!--<div class="row products">

                <div class="col-md-4 col-sm-6" ng-repeat="product in products1">
                    
                </div>

            </div>-->
            <!-- /.products -->
            <data-owl-carousel class="owl-carousel" data-options="{navigation: false, pagination: true, rewindNav : false}">
                <div owl-carousel-item="" ng-repeat="product in products1" class="item">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a ng-click="viewDetail(product.id)">
                                        <img src="{{product.thumbnails[0].url}}" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a ng-click="viewDetail(product.id)">
                                        <img src="{{product.thumbnails[1].url}}" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a ng-click="viewDetail(product.id)" class="invisible">
                            <img src="{{product.thumbnails[0].url}}" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3><a ng-click="viewDetail(product.id)">{{product.name}}</a></h3>
                            <p class="price">{{product.attributes[0].value}}</p>
                            <p class="buttons">
                                <a class="btn btn-default" href="/{{product.choseCategories[0].Category.code}}/{{product.id}}">Chi tiết</a>
                                <!--<a ng-click="addProductToCart(product)" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>-->
                            </p>
                        </div>
                        <!-- /.text -->
                    </div>
                    <!-- /.product -->
                </div>
            </data-owl-carousel>
        </div>
        <!-- /.container -->

    </div>
    <!-- /#hot -->
    <!-- *** HOT END *** -->
</div>