
<div id="content" data-ng-controller="ProductController">
    <div class="container">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Ladies</a>
                </li>
                <li>
                    <a href="#">Tops</a>
                </li>
                <li>White Blouse Armani</li>
            </ul>

        </div>

        <div class="col-md-3">
            <!-- *** MENUS AND FILTERS ***
            _________________________________________________________ -->
            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Categories</h3>
                </div>

                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked category-menu">
                        <li>
                            <a href="category.html">Men <span class="badge pull-right">42</span></a>
                            <ul>
                                <li>
                                    <a href="category.html">T-shirts</a>
                                </li>
                                <li>
                                    <a href="category.html">Shirts</a>
                                </li>
                                <li>
                                    <a href="category.html">Pants</a>
                                </li>
                                <li>
                                    <a href="category.html">Accessories</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="category.html">Ladies  <span class="badge pull-right">123</span></a>
                            <ul>
                                <li>
                                    <a href="category.html">T-shirts</a>
                                </li>
                                <li>
                                    <a href="category.html">Skirts</a>
                                </li>
                                <li>
                                    <a href="category.html">Pants</a>
                                </li>
                                <li>
                                    <a href="category.html">Accessories</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="category.html">Kids  <span class="badge pull-right">11</span></a>
                            <ul>
                                <li>
                                    <a href="category.html">T-shirts</a>
                                </li>
                                <li>
                                    <a href="category.html">Skirts</a>
                                </li>
                                <li>
                                    <a href="category.html">Pants</a>
                                </li>
                                <li>
                                    <a href="category.html">Accessories</a>
                                </li>
                            </ul>
                        </li>

                    </ul>

                </div>
            </div>

            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Brands <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></h3>
                </div>

                <div class="panel-body">

                    <form>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Armani (10)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Versace (12)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Carlo Bruni (15)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Jack Honey (14)
                                </label>
                            </div>
                        </div>

                        <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>

                    </form>

                </div>
            </div>

            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Colours <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></h3>
                </div>

                <div class="panel-body">

                    <form>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> <span class="colour white"></span> White (14)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> <span class="colour blue"></span> Blue (10)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> <span class="colour green"></span> Green (20)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> <span class="colour yellow"></span> Yellow (13)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> <span class="colour red"></span> Red (10)
                                </label>
                            </div>
                        </div>

                        <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>

                    </form>

                </div>
            </div>

            <!-- *** MENUS AND FILTERS END *** -->

            <div class="banner">
                <a href="#">
                    <img src="./Assets/IMG/banner.jpg" alt="sales 2014" class="img-responsive">
                </a>
            </div>
        </div>

        <div class="col-md-9">

            <div class="row" id="productMain">
                <div class="col-sm-6">
                    <div id="mainImage">
                        <img src="./Assets/IMG/detailbig1.jpg" alt="" class="img-responsive">
                    </div>

                    <div class="ribbon sale">
                        <div class="theribbon">SALE</div>
                        <div class="ribbon-background"></div>
                    </div>
                    <!-- /.ribbon -->

                    <div class="ribbon new">
                        <div class="theribbon">NEW</div>
                        <div class="ribbon-background"></div>
                    </div>
                    <!-- /.ribbon -->

                </div>
                <div class="col-sm-6">
                    <div class="box text-center">
                        <h2 class="">{{view.productDetail.name}}</h2>
                        <p class="price">{{view.productDetail.attributes[0].value}} Đồng</p>
                        <p style="font-size:15px"><strong>Giá giảm:</strong> {{view.productDetail.attributes[2].value}} Đồng</p>
                        <p><strong>Màu sắc:</strong> <button class="btn btn-sm" style="background-color: {{view.productDetail.attributes[3].value}}"></button></p>
                        <p><strong>Còn lại:</strong> {{view.productDetail.attributes[1].value}}</p>
                        <p class="goToDescription">
                            <a href="#details" class="scroll-to">Bấm để xem chi tiết sản phẩm</a>
                        </p>
                        <p class="text-center buttons">
                            <a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</a>
                            <a href="basket.html" class="btn btn-default"><i class="fa fa-money"></i> Mua ngay</a>
                        </p>


                    </div>

                    <div class="row" id="thumbs">
                        <div class="col-xs-4">
                            <a href="./Assets/IMG/detailbig1.jpg" class="thumb">
                                <img src="./Assets/IMG/detailsquare.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="./Assets/IMG/detailbig2.jpg" class="thumb">
                                <img src="./Assets/IMG/detailsquare2.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="./Assets/IMG/detailbig3.jpg" class="thumb">
                                <img src="./Assets/IMG/detailsquare3.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>

            </div>


            <div class="box" id="details">
                <p>
                    <h4>Thông tin sản phẩm</h4>
                </p>
                <blockquote>
                    <p>
                        <em>{{view.productDetail.shortDescription}}</em>
                    </p>
                </blockquote>
                <h4>Điểm chính</h4>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td><strong>Sản xuất tại</strong></td>
                            <td>Trung Quốc</td>
                        </tr>
                        <tr>
                            <td><strong>Mẫu mã</strong></td>
                            <td>Chuột bluethooth không dây</td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="box" id="details2">
                <p>
                    <h4>Thông tin chi tiết</h4>
                </p>
                <p>{{view.productDetail.longDescription}}</p>
            </div>

            <div class="row same-height-row">
                <div class="col-md-3 col-sm-6">
                    <div class="box same-height">
                        <h3>Có thể bạn thích</h3>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="product same-height">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="detail.html">
                                        <img src="./Assets/IMG/product2.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="detail.html">
                                        <img src="./Assets/IMG/product2_2.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="detail.html" class="invisible">
                            <img src="./Assets/IMG/product2.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3>Fur coat</h3>
                            <p class="price">$143</p>
                        </div>
                    </div>
                    <!-- /.product -->
                </div>

            </div>

            <div class="row same-height-row">
                <div class="col-md-3 col-sm-6">
                    <div class="box same-height">
                        <h3>Products viewed recently</h3>
                    </div>
                </div>


                <div class="col-md-3 col-sm-6">
                    <div class="product same-height">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="detail.html">
                                        <img src="./Assets/IMG/product2.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="detail.html">
                                        <img src="./Assets/IMG/product2_2.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="detail.html" class="invisible">
                            <img src="./Assets/IMG/product2.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3>Fur coat</h3>
                            <p class="price">$143</p>
                        </div>
                    </div>
                    <!-- /.product -->
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="product same-height">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="detail.html">
                                        <img src="./Assets/IMG/product1.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="detail.html">
                                        <img src="./Assets/IMG/product1_2.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="detail.html" class="invisible">
                            <img src="./Assets/IMG/product1.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3>Fur coat</h3>
                            <p class="price">$143</p>
                        </div>
                    </div>
                    <!-- /.product -->
                </div>


                <div class="col-md-3 col-sm-6">
                    <div class="product same-height">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="detail.html">
                                        <img src="./Assets/IMG/product3.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="detail.html">
                                        <img src="./Assets/IMG/product3_2.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="detail.html" class="invisible">
                            <img src="./Assets/IMG/product3.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3>Fur coat</h3>
                            <p class="price">$143</p>

                        </div>
                    </div>
                    <!-- /.product -->
                </div>

            </div>

        </div>
        <!-- /.col-md-9 -->
    </div>
    <!-- /.container -->
</div>
<!-- /#content -->
