
<div id="content" data-ng-controller="ProductController">
    <div class="container">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li>
                    <a href="/">Trang chủ</a>
                </li>
                <li>{{currentPage}}</li>
            </ul>
        </div>

        <div class="col-md-3">
            <!-- *** MENUS AND FILTERS ***
            _________________________________________________________ -->
            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Sản phẩm</h3>
                </div>

                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked category-menu">
                        <li>
                            <ul>
                                <li ng-repeat="cate in cateProducts">
                                    <a href="/{{cate.code}}">{{cate.name}}</a>
                                </li>
                            </ul>
                        </li>

                    </ul>

                </div>
            </div>

            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Thương hiệu <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Xóa</a></h3>
                </div>

                <div class="panel-body">

                    <form>
                        <div class="form-group">
                            <div class="checkbox" ng-repeat="cate in cateBrands">
                                <label>
                                    <input type="checkbox">{{cate.name}} (10)
                                </label>
                            </div>
                        </div>

                        <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Áp dụng</button>

                    </form>

                </div>
            </div>

            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Thuộc tính</h3>
                </div>

                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked category-menu">
                        <li>
                            <ul>
                                <li ng-repeat="cate in cateAttrs">
                                    <a href="category.html">{{cate.name}}</a>
                                </li>
                            </ul>
                        </li>

                    </ul>

                </div>
            </div>

            <!-- *** MENUS AND FILTERS END *** -->

            <div class="banner">
                <a href="#">
                    <img src="img/banner.jpg" alt="sales 2014" class="img-responsive">
                </a>
            </div>
        </div>

        <div class="col-md-9">

            <div class="box info-bar">
                <div class="row">
                    <div class="col-sm-12 col-md-4 products-showing">
                        hiển thị <strong>{{pageSize}}</strong> trên <strong>{{rowCount}}</strong> Sản phẩm
                    </div>

                    <div class="col-sm-12 col-md-8  products-number-sort">
                        <div class="row">
                            <form class="form-inline">
                                <div class="col-md-6 col-sm-6">
                                    <div class="products-number">
                                        <strong>Hiển thị</strong>
                                            <a href="#" id="10" class="btn-pageSize btn btn-default btn-sm btn-primary" ng-click="rowChanged(pageIndex, 10, filter, asceding)">10</a>
                                            <a href="#" id="20" class="btn-pageSize btn btn-default btn-sm" ng-click="rowChanged(pageIndex, 20, filter, asceding)">20</a>  
                                            <a href="#" id="50" class="btn-pageSize btn btn-default btn-sm" ng-click="rowChanged(pageIndex, 50, filter, asceding)">50</a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="products-sort-by">
                                        <strong>Sắp xếp</strong>
                                        <select name="sort-by" class="form-control" ng-model="filter" ng-change="rowChanged(pageIndex, pageSize, filter, asceding)">
                                            <option value="name">Tên</option>
                                            <option value="priceUp">Giá tăng dần</option>
                                            <option value="priceDown">Giá giảm dần</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row products">

                <div class="col-md-4 col-sm-6" ng-repeat="product in products">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a ng-click="viewDetail(product.id)">
                                        <img src="{{product.thumbnails[0].url}}" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a ng-click="viewDetail(product.id)">
                                        <img src="{{product.thumbnails[1].url}}" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a ng-click="viewDetail(product.id)" class="invisible">
                            <img src="{{product.thumbnails[0].url}}" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3><a ng-click="viewDetail(product.id)">{{product.name}}</a></h3>
                            <p class="price">{{product.attributes[0].value}}</p>
                            <p class="buttons">
                                <a class="btn btn-default" ng-click="viewDetail(product.id)">Chi tiết</a>
                                <a ng-click="addProductToCart(product)" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                            </p>
                        </div>
                        <!-- /.text -->
                    </div>
                    <!-- /.product -->
                </div>

            </div>
            <!-- /.products -->

            <div class="pages">

                <div uib-pagination boundary-links="true" total-items="rowCount" items-per-page="pageSize" ng-model="pageIndex" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                     ng-change="pageChanged(pageSize, pageIndex, filter)"></div>
            </div>


        </div>
        <!-- /.col-md-9 -->
    </div>
    <!-- /.container -->
</div>
<!-- /#content -->