
<div id="content" data-ng-controller="ProductDetailController">
    <div class="container">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li>
                    <a href="/">Trang Chủ</a>
                </li>
                <li>
                    <a href="/{{view.currentCategory}}">{{categoryName}}</a>
                </li>
                <li>{{view.productDetail.name}}</li>
            </ul>

        </div>

        <div class="col-md-3">
            <!-- *** MENUS AND FILTERS ***
        _________________________________________________________ -->
            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Sản phẩm</h3>
                </div>

                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked category-menu">
                        <li>
                            <ul>
                                <li ng-repeat="cate in cateProducts">
                                    <a href="/{{cate.code}}">{{cate.name}}</a>
                                </li>
                            </ul>
                        </li>

                    </ul>

                </div>
            </div>

            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Thương hiệu</h3>
                </div>

                <div class="panel-body">

                    <ul class="nav nav-pills nav-stacked category-menu">
                        <li>
                            <ul>
                                <li ng-repeat="cate in cateBrands">
                                    <a ng-href="{{cate.code}}">{{cate.name}}</a>
                                </li>
                            </ul>
                        </li>

                    </ul>

                </div>
            </div>

            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Thuộc tính</h3>
                </div>

                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked category-menu">
                        <li>
                            <ul>
                                <li ng-repeat="cate in cateAttrs">
                                    <a ng-href="{{cate.code}}">{{cate.name}}</a>
                                </li>
                            </ul>
                        </li>

                    </ul>

                </div>
            </div>

            <!-- *** MENUS AND FILTERS END *** -->

            <div class="banner">
                <a href="#">
                    <img src="./Assets/IMG/banner.jpg" alt="sales 2014" class="img-responsive">
                </a>
            </div>
        </div>

        <div class="col-md-9">

            <div class="row" id="productMain">
                <div class="col-sm-6">
                    <div id="mainImage">
                        <img src="{{view.productDetail.details[0].url}}" alt="{{view.productDetail.name}}" class="img-responsive">
                    </div>

                    <div class="ribbon sale">
                        <div class="theribbon">Sale</div>
                        <div class="ribbon-background"></div>
                    </div>
                    <!-- /.ribbon -->

                    <div class="ribbon new">
                        <div class="theribbon">Mới</div>
                        <div class="ribbon-background"></div>
                    </div>
                    <!-- /.ribbon -->

                </div>
                <div class="col-sm-6">
                    <div class="box text-center">
                        <h2 class="">{{view.productDetail.name}}</h2>
                        <p class="price">{{view.productDetail.attributes[0].value}} Đồng</p>
                        <p style="font-size:15px"><strong>Giá giảm:</strong> {{view.productDetail.attributes[2].value}} Đồng</p>
                        <p><strong>Màu sắc:</strong> {{view.productDetail.attributes[3].value}}</p>
                        <p><strong>Còn lại:</strong> {{view.productDetail.attributes[1].value}}</p>
                        <p class="goToDescription">
                            <a href="#details" class="scroll-to">Bấm để xem chi tiết sản phẩm</a>
                        </p>
                        <p class="text-center buttons">
                            <button class="btn btn-primary" ng-click="addProductToCart(view.productDetail)"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</button>
                            <a href="basket.html" class="btn btn-default"><i class="fa fa-money"></i> Mua ngay</a>
                        </p>


                    </div>

                    <div class="row" id="thumbs">
                        <div class="col-md-4" ng-repeat="img in view.productDetail.details">
                            <a href="{{img.url}}" class="thumb">
                                <img src="{{img.url}}" alt="" class="img-responsive" style="width:100%; height:100%">
                            </a>
                        </div>
                    </div>
                </div>

            </div>


            <div class="box" id="details">
                <p>
                    <h4>Thông tin sản phẩm</h4>
                </p>
                <blockquote>
                    <p>
                        <em>{{view.productDetail.shortDescription}}</em>
                    </p>
                </blockquote>
                <h4>Điểm chính</h4>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td><strong>Sản xuất tại</strong></td>
                            <td>Trung Quốc</td>
                        </tr>
                        <tr>
                            <td><strong>Mẫu mã</strong></td>
                            <td>Chuột bluethooth không dây</td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="box" id="details2">
                <p>
                    <h4>Thông tin chi tiết</h4>
                </p>
                <p>{{view.productDetail.longDescription}}</p>
            </div>

        </div>
        <!-- /.col-md-9 -->
    </div>
    <!-- /.container -->
</div>
<!-- /#content -->
