<div id="content" data-ng-controller="SetPasswordController">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="box">
                    <form method="post" name="setPasswordForm">
                        <div class="form-group">
                            <label>Địa chỉ email</label>
                            <input type="email" class="form-control" name="email" ng-model="data.email" required>
                            <span style="color:red" ng-show="setPasswordForm.email.$dirty && setPasswordForm.email.$invalid">
                                <span ng-show="setPasswordForm.email.$error.required">Vui lòng nhập địa chỉ email.</span>
                                <span ng-show="setPasswordForm.email.$error.email">Địa chỉ email không hợp lệ.</span>
                            </span>
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu mới</label>
                            <input type="password" class="form-control" name="password" ng-minlength="8" ng-model="data.newPassword" required>
                            <span style="color:red" ng-show="setPasswordForm.password.$dirty && setPasswordForm.password.$invalid">
                                <span ng-show="setPasswordForm.password.$error.required">Vui lòng nhập mật khẩu.</span>
                                <span ng-show="setPasswordForm.password.$error.minlength">Mật khẩu có ít nhất 8 ký tự. </span>
                            </span>
                        </div>
                        <div class="form-group">
                            <label>Xác nhận mật khẩu mới</label>
                            <input type="password" class="form-control" name="confirmPassword" ng-minlength="8" ng-model="data.confirmPassword" required>
                            <span style="color:red" ng-show="confirmPassword.password.$dirty && setPasswordForm.confirmPassword.$invalid">
                                <span ng-show="setPasswordForm.password.$error.required">Vui lòng nhập lại mật khẩu.</span>
                                <span ng-show="setPasswordForm.password.$error.minlength">Mật khẩu có ít nhất 8 ký tự. </span>
                                <span ng-show="confirmPassword(data.newPassword, data.confirmPassword) == false">Mật khẩu xác nhận không khớp</span>
                            </span>
                        </div>
                        <div class="text-center">
                            <button data-ng-click="setPassword()" class="btn btn-primary"
                                    ng-disabled="setPasswordForm.email.$dirty && setPasswordForm.email.$invalid
                                            || setPasswordForm.password.$dirty && setPasswordForm.password.$invalid">
                                <i class="fa fa-floppy-o"></i> Lưu
                            </button>
                        </div>
                    </form>
                </div>
             </div>
        </div>
    </div>
</div>