<!-- *** FOOTER ***
_________________________________________________________ -->
<div id="footer" data-animate="fadeInUp" data-ng-controller="FooterController">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <h4>Người dùng</h4>

                <ul>
                    <li>
                        <a href="/login">Đăng nhập</a>
                    </li>
                    <li>
                        <a href="/register">Đăng ký</a>
                    </li>
                </ul>
                <hr />

                <h4>Giữ liên lạc với chúng tôi</h4>

                <p class="social">
                    <a class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                    <a class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
                    <a class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
                    <a class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a>
                    <a class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
                </p>
            </div>
            <!--End col-md-4 -->

            <div class="col-md-4 col-sm-6">
                <h4>Giới thiệu</h4>

                <ul>
                    <li>
                        <a href="text.html">Giới thiệu về chúng tôi</a>
                    </li>
                    <li>
                        <a href="text.html">Các điều khoản và chính sách</a>
                    </li>
                    <li>
                        <a href="faq.html">Câu hỏi thường gặp</a>
                    </li>
                    <li>
                        <a href="contact.html">Liên hệ với chúng tôi</a>
                    </li>
                </ul>

            </div>
            <!-- /.col-md-4 -->

            <div class="col-md-4 col-sm-6">

                <h4>Danh mục</h4>
                <ul>
                    <li ng-repeat="cate in cateProducts">
                        <a href="/{{cate.code}}">{{cate.name}}</a>
                    </li>
                </ul>

                <hr class="hidden-md hidden-lg">

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>
<!-- /#footer -->
<!-- *** FOOTER END *** -->
<!-- *** COPYRIGHT ***
_________________________________________________________ -->
<div id="copyright">
    <div class="container">
        <div class="col-md-6">
            <p class="pull-left">© 2018 Aletabao Ecommerce.</p>

        </div>
        <div class="col-md-6">
            <p class="pull-right">
                Template by <a href="https://bootstrapious.com/e-commerce-templates">Bootstrapious</a> & <a href="https://fity.cz">Fity</a>
                <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
            </p>
        </div>
    </div>
</div>
<!-- *** COPYRIGHT END *** -->

<!-- /#all -->
