<!-- *** TOPBAR ***
_________________________________________________________ -->
<div id="top" data-ng-controller="TopController">
    <div class="container">
        <div class="col-md-offset-6 col-md-6" data-animate="fadeInDown">
            <ul class="menu">
                <li>
                    <a ng-show="!isLogin" href="" ng-click="login()">Đăng nhập</a>
                    <a ng-hide="!isLogin" href="" ng-click="info()">Xin chào, @Session["username"]</a>
                </li>
                <li>
                    <a ng-show="!isLogin" href="/register">Đăng ký</a>
                    <a ng-hide="!isLogin" href="" ng-click="logout()">Đăng Xuất</a>
                </li>
                <li>
                    <a href="/contact">Liên hệ</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- *** TOP BAR END *** -->
