<!-- *** TOPBAR ***
_________________________________________________________ -->
<div id="top" data-ng-controller="TopController">
    <div class="container">
        <div class="col-md-offset-6 col-md-6" data-animate="fadeInDown">
            <ul class="menu">
                <li>
                    <a href="~/login" >Đăng nhập</a>
                </li>
                <li>
                    <a href="/register">Đăng ký</a>
                </li>
                <li>
                    <a href="/contact">Liên hệ</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- *** TOP BAR END *** -->
