
@{
    ViewBag.Title = "Trang quản lý sản phẩm";
    ViewBag.pageTitle = "Sản phẩm";
    ViewBag.pageLink = "/dashboard/products?pageSize=10&pageIndex=1";
    ViewBag.currentAction = "product";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="content">
                    <a href="~/dashboard/product/create" class="btn btn-primary btn-wd btn-fill btn-flat">Thêm sản phẩm</a>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <h4 class="title">Danh sách sản phẩm</h4>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Mã sản phẩm</th>
                                <th>Tên</th>
                                <th>Người đăng</th>
                                <th></th>
                                <th></th>
                            </tr>        
                        </thead>
                        @{ 
                            Int16 flag = 1;
                        }
                        @foreach (var product in Model)
                        {
                            <tr>
                                <td>@(flag++)</td>
                                <td>@product.code</td>
                                <td>@product.name</td>
                                <td>@(product.UserInfo.firstName + " " + product.UserInfo.lastName)</td>
                                <td><a href="/dashboard/product/@product.id" class="text-info"><i class="ti-pencil-alt"></i> Chi tiết</a></td>
                                <td><a href="/dashboard/product/remove/@product.id" class="text-danger"><i class="ti-trash"></i> Xóa</a></td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>