
@{
    ViewBag.Title = "Đơn hàng";
    ViewBag.pageTitle = "Danh sách đơn hàng";
    ViewBag.pageLink = "/dashboard/invoices?pageSize=10&pageIndex=1";
    ViewBag.currentAction = "invoice";
}

<h2>Index</h2>

