
@{
    ViewBag.Title = "Quản lý người dùng";
    ViewBag.pageTitle = "Danh sách người dùng";
    ViewBag.pageLink = "/dashboard/users?pageSize=10&pageIndex=1";
    ViewBag.currentAction = "user";
}
<h2>Index</h2>

