
@{
    ViewBag.Title = "Danh mục sản phẩm";
    ViewBag.pageTitle = "Danh mục sản phẩm";
    ViewBag.pageLink = "/dashboard/categoris?pageSize=10&pageIndex=1";
    ViewBag.currentAction = "category";
}

<h2>Index</h2>

