/** Your theme modifications here **/
span.hidden-sm{
    display:inline-block !important;
}
#error h1 {
    font-size: 128px;
}
#error #e404 h1 {
    color: #e73827;
}

#results ul {
    display:none;
    list-style-type: none;
    background-color: #ececec;
    padding-right: 0px;
    margin-right: 51px;
    padding-left: 0px;
    margin-top: 0px;
    border: 1px solid #4fbfa8;
    border-radius: 5px;
}

#results li a {
    color: #34495E;
    display: block;
    font-size: 13px;
    margin: 5px -1px;
    padding: 6px 40px 6px 10px;
    text-align: left;
}

#results li a:hover {
    background-color: #8eefdb;
    cursor: pointer;
    border-radius: 5px;
}

.img {
    height: 150px;
    width:auto;
    margin:auto;
}